<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos Oline </title>
    <meta name="theme-color" content="#8257e5">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    
    <link rel="stylesheet" href="/Styles/main.css">
    <link rel="stylesheet" href="/Styles/Partials/page-landing.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <div id="container1">
        <header class="Cabecalho">
            <!--<div id="by"><p1>By: @Sroliver</p1></div>-->
            <img src="/images/logo.svg" alt="LogoProffy">
            
            <p2>Sua plataforma de estudos Oline</p2>
        </header>
        <div id="div_imgone">
            <img src="/images/landing.svg" alt="Working" height="100px", name="Workings"> 
        </div>

        <div id="div_heart">     
            <p3>Total de 285 conexões já realizadas.</p3>   
            <img src="/images/icons/purple-heart.svg" alt="Purple heart">
        </div>
        <div class="buttons">
            <a class="study" href="/study"><img src="/images/icons/study.svg" alt="Study">Estudar</a>   
            <a class="give-classes" href="/give-classes"><img src="/images/icons/give-classes.svg" alt="Give Classes">Dar Aula</a>    
        </div>

        <!--
        <footer id="Rodape">
            <h2>Copyrith-Brasil</h2>
        </footer>
        -->

    </div>

</body>
</html>